---
layout: page
title: "About"
description: "Hey, I'm Welly Zhang."
header-img: "img/banner/about-banner.jpg"
---

<!-- English Version -->
<div class="en post-container">

<blockquote>
<p>“A Programmer, a Machine Learning Fan and a Deep Learning Enthusiast on the Go.”</p>
</blockquote>

<p><font color="red">News!</font> Research intern at HKUST with <a href="https://www.cse.ust.hk/~dyyeung/www/Home.html">Professor Dit-Yan Yeung</a>.
<br><font color="red">News!</font> Visiting scholar at <a href="http://vcla.stat.ucla.edu/">VCLA@UCLA</a> with <a href="http://www.stat.ucla.edu/~sczhu/">Professor Song-Chun Zhu</a>.
<br><font color="red">News!</font> I have changed the website's icon. Check it out. And <strong>HUGE THANKS</strong> to my designer <a href="http://www.linkedin.com/in/%E7%91%9C%E9%A6%A8-%E6%B1%A0-28362793?authType=name&authToken=AOoT&goback=&trk=abook_conn">@Vikat</a>.</p>

<p>Hi, all!</p>

<p>I’m <strong>Chi Zhang – Welly Zhang</strong>, a junior undergraduate student of Class 2013 majoring in <em>Computer Science, Zhejiang University</em>. I’m currently a research assistant in <em>State Key Lab of CAD&amp;CG</em>, advised by <strong><a href="http://www.cad.zju.edu.cn/home/dengcai/">Professor Deng Cai</a></strong>.</p>

<p>My reseach interests include but are not limited to <em>General Machine Learning</em>, <em>Deep Learning</em>, <em>Unsupervised Feature Learning</em> and <em>Computer Vision</em>. Over the years, I’ve taken part in a variety of competitions, programming-related or not. Examples refer to <em>COMAP’s Mathematical Contest in Modeling (MCM)</em>, <strong><em><a href="https://www.kaggle.com/">Kaggle</a></em></strong> data science competitions, <strong><em><a href="https://tianchi.shuju.aliyun.com/">TianChi</a></em></strong> data mining competitions and so on. Luckily, all of my teammates were hard-working, leading to several awards of mine and a co-authored patent.</p>

I do find the field of <strong><em>Artifitial Intelligence</em></strong> pretty intriguing. I’ve gone over nearly every <strong><em>Machine Learning</em></strong> couse available on the Internet from top universities like Stanford, University of Toronto and Oxford, <strong><em>Deep Learning</em></strong> courses involving pattern recognition and natural language processing definitely included, and a <strong><em>Reinforcement Learning</em></strong> course by David Silver, the author of <em>AlphaGo</em>. I also ran experiments of impressive applications occasionally, with a special focus on image processing.</p>

<p>Besides, I’m keen on social welfare and voluntary work, especailly in education. I had been a volunteer teacher once, in a poor mountainous area for approximately a month, teaching children of 12 years old maths and science. A five star (top) volunteer prize was thus awarded to me. I’m also a frequent traveller and was once in Australia as a helper for half a month.</p>

<p>In terms of community service, I am a senior member of <strong><em><a href="http://www.stanfordfaces.org/">The Forum for American/Chinese Exchange at Stanford (FACES)</a></em></strong> and a junior member in <strong><em>The Internet Association, Zhejiang University</em></strong>.</p>

<p>My GitHub page could be found <a href="https://github.com/WellyZhang">here</a>. And my CV is <a href="/attach/CV_eng_blog.pdf">here</a>.</p>

</div>

{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment"> 
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = '{{site.duoshuo_username}}';

    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
