---
layout: page
title: "About Me"
description: "Hi, I'm Chi Zhang."
header-img: "img/banner/about-banner.jpg"
---

<!-- English Version -->
<div class="en post-container">

<p><font color="red">News!</font> Join Didi Research Institute as a machine learning engineer for autonomous vehicles.
<br><font color="red">News!</font> My presentation about Detection as Regression <a href="http://wellyzhang.github.io/attach/Detection_as_Regression.pdf">here</a>.
<br><font color="red">News!</font> Research intern at HKUST with <a href="https://www.cse.ust.hk/~dyyeung/www/Home.html">Professor Dit-Yan Yeung</a>.
<br><font color="red">News!</font> Visiting scholar at <a href="http://vcla.stat.ucla.edu/">VCLA@UCLA</a> with <a href="http://www.stat.ucla.edu/~sczhu/">Professor Song-Chun Zhu</a>.
</p>
<blockquote>
  <p>A Programmer and a Machine Learning Fan on the Go.</p>
</blockquote>

<h2 id="about-me">About Me</h2>

<p>I’m Chi Zhang – Welly, a senior undergraduate student of Class 2013 majoring in <em>Computer Science, Zhejiang University</em>. I’m a research assistant in <em>State Key Lab of CAD&amp;CG</em>, advised by <a href="http://www.cad.zju.edu.cn/home/dengcai/">Professor Deng Cai</a>.</p>

<p>My reseach interests include but are not limited to</p>

<ul>
  <li>Machine Learning
    <ul>
      <li>Deep Reinforcement Learning</li>
      <li>Unsupervised Feature Learning</li>
    </ul>
  </li>
  <li>Computer Vision
    <ul>
      <li>Recognition</li>
      <li>Detection</li>
      <li>Tracking</li>
    </ul>
  </li>
</ul>

<p>I was a research assistant at <a href="http://vcla.stat.ucla.edu/"><em>VCLA</em></a> for the past summer with <a href="http://www.stat.ucla.edu/~sczhu/">Professor Song-Chun Zhu</a> and I’m now a research intern at <em>Hong Kong University of Science and Technology</em> with <a href="https://home.cse.ust.hk/~dyyeung/www/Home.html">Professor Dit-Yan Yeung</a>.</p>

<p>[<a href="https://github.com/WellyZhang">GitHub</a>] [<a href="/attach/CV_eng_blog.pdf">CV</a>] [<a href="mailto:wellyzhangc@gmail.com">Contact</a>]</p>

<h2 id="experience">Experience</h2>

<h4 id="research-experience">Research Experience</h4>

<table>
  <thead>
    <tr>
      <th style="text-align: center">Period</th>
      <th style="text-align: center">Position</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="text-align: center">2015.03-2016.07</td>
      <td style="text-align: left">Research Assistant at State Key Lab of CAD&amp;CG, Zhejiang University</td>
    </tr>
    <tr>
      <td style="text-align: center">2016.07-2016.09</td>
      <td style="text-align: left">Research Intern at VCLA, University of California, Los Angeles</td>
    </tr>
    <tr>
      <td style="text-align: center">2016.09-2017.03</td>
      <td style="text-align: left">Research Intern at Hong Kong University of Science and Technology</td>
    </tr>
  </tbody>
</table>

<h4 id="professional-experience">Professional Experience</h4>

<table>
  <thead>
    <tr>
      <th style="text-align: center">Period</th>
      <th style="text-align: center">Position</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="text-align: center">2016.03-present</td>
      <td style="text-align: left">Software Development Coordinator at <a href="http://www.fengchelicai.com">Windmill Finance</a>, a FinTech start-up</td>
    </tr>
    <tr>
      <td style="text-align: center">2017.04-present</td>
      <td style="text-align: left">Machine Learning Engineer at Didi Research Institute for autonomous vehicles</td>
    </tr>
  </tbody>
</table>

<h2 id="publications">Publications</h2>

<h4 id="conferences">Conferences</h4>

<ul>
  <li>Li, S., Yeung, D., <strong>Zhang, C.</strong> Learning Unmanned Aerial Vehicle Control for Autonomous Target Following. IJCAI 2017. Under review.</li>
</ul>

<h4 id="journals">Journals</h4>

<ul>
  <li>Chen, Z., <strong>Zhang, C.</strong>, Zhao, Z., Cai, D. <a href="https://arxiv.org/abs/1611.08135">Question Retrieval for Community-based Question Answering via Heterogeneous Network Integration Learning</a>. Neurocomputing. arXiv: 1611.08135.</li>
</ul>

<h4 id="patents">Patents</h4>

<ul>
  <li><a href="https://www.google.com/patents/CN104778746A?cl=zh">A Method of Exact 3D Modeling Based on Natural Gestures via Data Gloves</a>. Publication number: CN104778746 A.</li>
</ul>

<h4 id="presentations">Presentations</h4>

<ul>
  <li><a href="/attach/Detection_as_Regression.pdf">Detection as Regression</a></li>
  <li><a href="/attach/Post-ANPR.pdf">Real-Time Automatic Number Plate Detection</a></li>
</ul>

<h2 id="projects">Projects</h2>

<table>
  <thead>
    <tr>
      <th style="text-align: center">Name</th>
      <th style="text-align: center">Period</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="text-align: left"><a href="http://mxnet.io">MXNet</a></td>
      <td style="text-align: center">2016.09-present</td>
    </tr>
    <tr>
      <td style="text-align: left">Perceive, Attend and Memorize</td>
      <td style="text-align: center">2016.09-2017.03</td>
    </tr>
    <tr>
      <td style="text-align: left">Quadrotor Reinforcement Learning for Tracking</td>
      <td style="text-align: center">2016.09-2016.11</td>
    </tr>
    <tr>
      <td style="text-align: left"><a href="https://github.com/WellyZhang/Darknet">Real-Time Automatic Number Plate Detection</a></td>
      <td style="text-align: center">2016.02-2016.06</td>
    </tr>
    <tr>
      <td style="text-align: left"><a href="https://github.com/WellyZhang/termdict">TermDict, Web-Based Terminal Dictionary</a></td>
      <td style="text-align: center">2016.10-present</td>
    </tr>
    <tr>
      <td style="text-align: left"><a href="https://github.com/WellyZhang/ICJs">ICJs, Interpretive C++ for JavaScript</a></td>
      <td style="text-align: center">2016.01-2016.04</td>
    </tr>
    <tr>
      <td style="text-align: left">Exact 3D Modeling Based on Natural Gestures via Data Gloves</td>
      <td style="text-align: center">2014.12-2015.04</td>
    </tr>
  </tbody>
</table>

</div>

{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment"> 
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = '{{site.duoshuo_username}}';

    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
